<!-- Custom js scripts -->

<script src="./node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="./node_modules/sticky-kit/dist/sticky-kit.min.js"></script>
<script src="./node_modules/jquery-form-styler/dist/jquery.formstyler.min.js"></script>
<script src="./node_modules/jquery.maskedinput/src/jquery.maskedinput.js"></script>
<script src="./node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>


<script src="./js/main.js"></script>























