<div class="catalog__filter js-filter">
    <div class="category">
        <div class="category__block">
            <a href="#" class="category__title">
                <span>Название категории</span>
                <div class="category__count">3</div>
            </a>
            <div class="category__body">
                <a href="#">
                    <span>Название категории</span>
                    <div class="category__count">3</div>
                </a>
                <a href="#">
                    <span>Название категории</span>
                    <div class="category__count">3</div>
                </a>
                <a class="is-active" href="">
                    <span>Название категории</span>
                    <div class="category__count">3</div>
                </a>
            </div>
        </div>
    </div>

    <div class="filter">
        <div class="filter__wrap">
            <form action="">
                <div class="filter__mega">
                    <div class="filter__section">
                        <div class="filter__title filter__title--center">
                            Цена в рублях 
                        </div>
                        <div class="filter__body">
                            <div class="range">
                                <div class="range__item">
                                    <span>от</span>
                                    <input value="5 500 ₽" class="js-number" type="text">
                                </div>
                               
                                <div class="range__delimiter"></div>
                                <div class="range__item">
                                    <span>от</span>
                                    <input value="5 500 ₽" class="js-max js-number"  type="text">
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="filter__section">
                        <div class="filter__title">
                            <span>Бренд</span>
                            <a class="filter__reset" href="">Очистить</a>
                        </div>
                        <div class="filter__body">
                            <div class="search">
                                <div class="search__wrap">
                                    <div class="search__form">
                                        <div class="search__icon">
                                            <svg width="16" height="16" viewBox="0 0 16 16" class="svg-icon">
                                                <use xlink:href="#svg-search-small"></use>
                                            </svg>
                                        </div>
                                        <input class="search__input" placeholder="Поиск " type="text">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="check js-scroll-block">
                                <div class="check__item">
                                    <input checked name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                                <div class="check__item">
                                    <input checked name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                                <div class="check__item">
                                    <input checked name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                                <div class="check__item">
                                    <input checked name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                                <div class="check__item">
                                    <input name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                                <div class="check__item">
                                    <input name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                                <div class="check__item">
                                    <input name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                                <div class="check__item">
                                    <input name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                                <div class="check__item">
                                    <input name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter__section">
                        <div class="filter__title filter__title--center">
                            Размер
                        </div>
                        <div class="filter__body">
                            <div class="check  js-scroll-block">
                                <div class="check__item">
                                    <input checked name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                                <div class="check__item">
                                    <input name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                                <div class="check__item">
                                    <input name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                                <div class="check__item">
                                    <input name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                                <div class="check__item">
                                    <input name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                                <div class="check__item">
                                    <input name="size" type="checkbox">
                                    <div class="check__main">
                                        <div class="check__control">
                                            <svg width="11" height="10" viewBox="0 0 11 10" class="svg-icon"><use xlink:href="#svg-check"></use></svg>
                                        </div>
                                        <div class="check__name">Атрибут</div>
                                    </div>
                                    <div class="check__count">
                                        3
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    
</div>