

<header class="header">
    <div class="container">
        <div class="header__wrap">
            <a href="" class="logo">
                <img src="images/logo.svg" alt="">
            </a>

            <a href="" class="btn btn--catalog">Каталог</a>
            
            <div class="search">
                <div class="search__wrap">
                    <form class="search__form">
                        <div class="search__icon">
                            <svg width="18" height="18" viewBox="0 0 18 18" class="svg-icon">
                                <use xlink:href="#svg-search"></use>
                            </svg>
                        </div>
                        <input class="search__input" placeholder="Поиск по 100 000 товаров " type="text">
                    </form>
 
                </div>
                
            </div>

            <div class="menu">
                <ul>
                    <li><a href="">Информация о компании</a></li>
                    <li><a href="">Контакты</a></li>
                    <li><a href="">Полезные ссылки</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>     
