<div class="item">
    <a href="#" class="item__img item__img--not">
        <img class="item__img-main" src="images/ic_baseline-photo-camera.svg" alt="">
        <div class="item__status-wrap">
            <div class="item__status">
                Хит продаж
                <img src="images/hit.svg" alt="">
            </div>
        </div>
        <div class="item__stock">
            25%
        </div>
    </a>

    <div class="item__type">
        Бренд
    </div>
    
    <a href="#" class="item__name">
        Полное название товара в несколько строк для вида с обрывом в конце...
    </a>

    <div class="item__btn item__btn--not">
        <button class="btn btn--long btn--grey btn--bold btn--middle btn--pt">Сообщить о поступлении</button>
    </div>

    </a>
</div>